$amplifiedOrange: rgba(241, 92, 44, 1);
$primaryGradient: linear-gradient(77.24deg, #f47b20 14.56%, #f15c2c 88.29%);
$secondaryGradient1: linear-gradient(142.86deg, #F47B20 2.47%, #F15C2C 43.9%, #ED79B0 95.24%);
$secondaryGradient2: linear-gradient(141.68deg, #ED79CA 7.45%, #F15C2C 90.6%);
$gradientDark1: linear-gradient(122.97deg, #0e3d52 0%, #000000 95.81%);
