@import "vendor/*";
@import "reset";
@import "colors";
@import "text/*";
@import "layout/*";
@import "modules/*";

.frames-from-figma {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: -0.5px;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(122.97deg, #0e3d52 0%, #000000 95.81%);
  position: absolute;
  top: 0;
  z-index: 300;
  display: flex;
  align-items: center;

  img {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  &.not-loading {
    z-index: -100;
  }
}

.fade-out.aos-animate {
  opacity: 0;
}
