@import "reset";
@import "vendor/customize/hamburgers-settings.scss";
@import "vendor/hamburgers/hamburgers.scss";
@import "colors";
@import "text/*";
@import "layout/*";
@import "modules/*";

.does-not-work:hover {
  cursor: pointer;
}

a {
  color: white;

}

.cta {
  border: 1px solid white;
  border-radius: 36px;
  color: white;
  width: fit-content;
  padding: 12px 16px;
  display: flex;
  align-items: center;

  svg path {
    fill: #fff;
  }
  span {
    margin-right: 12px;
  }
  img {
    height: 20px;
  }
}