@import "vendor/*";
@import "reset";
@import "colors";
@import "text/*";
@import "layout/*";
@import "modules/*";

.does-not-work:hover {
  cursor: pointer;
}

.fill-height {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    flex: 1;
    > * {
      align-items: center;
    }
  }
}

.frames-from-figma {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: -2px;
  }
}

.frames-from-figma-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .frames-from-figma {
    display: none;
  }

  .frames-from-figma-desktop {
    display: flex;
    flex-direction: column;
    > * {
      margin-top: -2px;
    }
  }
}

.down-arrow {
  z-index: 0;
  bottom: 0px;
  padding-bottom: 24px;
  margin-left: 24px;
  @media (min-width: 1024px) {
    margin-left: 60px;
  }
}
