@import "vendor/*";
@import "reset";
@import "colors";
@import "text/*";
@import "layout/*";
@import "modules/*";

.frames-from-figma {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: -0.5px;
  }
}

.fade-out.aos-animate {
  opacity: 0;
}
