.explore-our-gallery-container
  a.does-not-work.explore-our-gallery
    .animate-border-outer.shadow-3
    .animate-border-content
      span.headline.gradienttext1 Explore our creative gallery to find solutions for any objective.
      span.cta.flex 
        span Explore formats 
        img(
          class="orange-logo" 
          src="/images/arrow-right-black.svg"
        )

