.explore-our-gallery-container
  a.explore-our-gallery
    .animate-border-outer
    .animate-border-content
      span.headline.gradienttext1 Explore our creative gallery to find solution for any objective.
      span.cta.flex 
        span Explore formats 
        img(
          class="orange-logo" 
          src="/images/arrow-right-black.svg"
        )

