.homepage-hero
  .headline
    h1 Deji Bryce Olukotun is an author, speaker, and changemaker.
  .update-container
    +update(
        "Upcoming Event",
        "March 5, 2021",
        "Listen to me lecture at a Small College in Somewhere, USA",
        "",
        "Learn more"
      )(class="update-event" href="https://eventbrite.com" target="_blank")