.homepage-hero
    .slide-1
      .flex.items-center.slider-static
        img.slider-arrow.right(src="/images/arrow-left.svg")
        include ../modules/phone-breakout.pug
        img.slider-arrow.left(src="/images/arrow-right.svg")      
      img.cta(src="/images/Frame 14.png" class="cta")
    .copy.mt3
      h1 Reinventing ad placement, one medium at a time
      p.mt3 Since pioneering Native advertising in 2012, we have built 4 product lines across 13 different formats, each with elements of customization not found anywhere else in the industry.
    .down-arrow
      img.arrow-down(src="/images/arrow-down.svg")