.homepage-hero
  .headline
    h1 Deji Bryce Olukotun is an author, speaker, and changemaker.
  .update-container
    +update(
        "Current Exploration",
        "",
        "Confronting displaced populations in the 21st century",
        "In collaboration with the Center for Science and the Imagination at Arizona State and the National Renewable Energy Laboratory, I worked with scientists, policy makers, and artists to envision better energy futures.",
        "Continue reading"
      )(class="update-event" href="unhcr.html")  
    //- +update(
    //-     "Private Event",
    //-     "March 5, 2021",
    //-     "Memorial Lecture: Your right to imagine your own future",
    //-     "",
    //-     "View event PDF"
    //-   )(class="update-event" href="/images/Union.SelleyMemorialLecture.OlukotonEvent.rev022321.pdf" target="_blank")