.homepage-hero
  .slide-content-container
    .copy.mt3
      h2 Latest news
      p.mt3 Since pioneering Native advertising in 2012, we have built 4 product lines across 13 different formats, each with elements of customization not found anywhere else in the industry.
