
- var currentUrl = page
.main-nav
  a(href="#bio") About
  a(href="#books" class={active: currentUrl === '#about'}) Books
  a(href="#features" class={active: currentUrl === 'activities'}) Features
  a(href="#inquiries" class={active: currentUrl === 'faq'}) Inquiries
  a(href="#connect" class={active: currentUrl === 'connect'}) Connect
  a(href="#newsletter" class={active: currentUrl === 'contact'}) Newsletter  