
- var currentUrl = page

a(href="https://eventbrite.com/" target="_blank") Company
a(class={active: currentUrl === 'about'} href="about.html") Products
a(class={active: currentUrl === 'activities'} href="activities.html") Technology
a(class={active: currentUrl === 'faq'} href="faq.html") Ideas
a(class={active: currentUrl === 'contact'} href="contact.html") Contact us
a(class={active: currentUrl === 'contact'} href="contact.html") Logout
