
- var currentUrl = page
.main-nav
  a.does-not-work() Option 1
  a.does-not-work(class={active: currentUrl === 'about'}) Option 2
  a.does-not-work(class={active: currentUrl === 'activities'}) Option 3
  a.does-not-work(class={active: currentUrl === 'faq'}) Option 4
  a.does-not-work(class={active: currentUrl === 'contact'}) Option 5