
- var currentUrl = page

a(href="https://eventbrite.com/" target="_blank") RSVP
a(class={active: currentUrl === 'about'} href="about.html") About
a(class={active: currentUrl === 'activities'} href="activities.html") Activities
a(class={active: currentUrl === 'faq'} href="faq.html") FAQ
a(class={active: currentUrl === 'contact'} href="contact.html") Contact
