
- var currentUrl = page
.main-nav
  a.does-not-work() About Deji
  a.does-not-work(class={active: currentUrl === 'about'}) News
  a.does-not-work(class={active: currentUrl === 'activities'}) Insights
  a.does-not-work(class={active: currentUrl === 'faq'}) Books
  a.does-not-work(class={active: currentUrl === 'contact'}) Contact