mixin we-work-with-section(title, body)
  .we-work-with-section-container.shadow-3
        h4=title
        p=body
        .logo-grid
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")

.we-work-with
    h3 We work with
    +we-work-with-section(
        "The Top Brands", 
        "We build relationships directly with publishers to deliver brand safe environments and better performance."
    )
                        