mixin we-work-with-section(title, body)
  .we-work-with-section-container.shadow-3
        h4=title
        p=body
        .logo-grid
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")
            img.work-with-logo(src="/images/work-with/ToyotaLogoRedVer.svg")

.we-work-with
    h3 We work with
    .container
        +we-work-with-section(
            "The Top Brands", 
            "Join 100% of the AdAge 100 who run with us to more meaningfully engage their customers."
        )
        +we-work-with-section(
            "The Leading DSPs", 
            "Integrated with the nearly all of world’s top DSPs to provide you with easy access to the most engaging advertising experiences across formats and platforms."
        )
        +we-work-with-section(
            "Premium Publishers", 
            "We work with the most premium sites – including 79% of the comScore 100 – to offer a better user experience, all around the world, more than 300 billion times/month."
        )
        +we-work-with-section(
            "Integrations That Keep Your Impressions safe", 
            "Take confidence in our partnerships with the most respected companies to ensure zero resold impressions, the lowest fraud rate in the industry, and the presence of no misinformation site."
        )
                        