
footer.footer
  h4 Thank you for visiting,
  img.signature(src="/images/signature.svg")
  span.copyright Copyright © 2021 All Rights Reserved
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js")
script(src="js/site.js")
