
footer.footer
  .get-and-stay-connected
    .get-connected
      h2.section-headline.h2.blue Connect with Deji
      .social-media-grid
        a(href="twitter.com")
          img(src="/images/linkedin.svg")
        a(href="twitter.com")
          img(src="/images/twitter.svg")
        a(href="twitter.com")
          img(src="/images/tumblr.svg")
    .newsletter-container
      h2.section-headline.h2 Stay connected
      h3 Use the form below to sign up for my newsletter.
      .input-container
        label Email-address
        .input
          input(type="text" placeholder="you@yourhost.com")
        button Subscribe
  .sign-off-container
    h4 Thank you for visiting,
    img.signature(src="/images/signature.svg")
    span.copyright Copyright © 2021 All Rights Reserved
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js")
script(src="js/site.js")
