mixin update(updateType, date, title, body)
    .update(class!=attributes.class)
        span.update-type=updateType
        span.update-date=date
        span.update-title=title
        span.update-body=body
        a.read-more Read more
        a.cta 
            span More news
            img(src="/images/arrow-right.svg")