extends ../template.pug

include ../mixins/update.pug
include ../mixins/collection.pug

block content
  include ../components/main-navigation.pug
  .section-transition-container
    .section-transition.bgimage
      .color-overlay
    .gradient
  include ../modules/homepage-hero.pug
  .homepage-section-container
    #bio.section.section2.bio
      h2.section-headline.h2.blue Biography
      p DEJI BRYCE OLUKOTUN is the author of two novels and his fiction has appeared in five different book collections. 
      p His novel After the Flare won the 2018 Philip K. Dick special citation, and was chosen as one of the best books of 2017 by The Guardian, The Washington Post, Syfy.com, Tor.com, Kirkus Reviews, among others. 
      p His short story Between the Dark and the Dark, published in Lightspeed, was selected by editor Diana Gabaldon for Best American Science Fiction and Fantasy 2020 (Houghton Mifflin Harcourt). 
      p He currently works for the audio technology company Sonos and he is a Future Tense Fellow at New America.
  #books.section.section3.books
    h2.books-headline.section-headline.h2.blue Novels
    .homepage-book
      .book-container-right
        span.book-title After The Flare
        img.book-cover(src="/images/after-the-flare.jpg")
      .book-container-left
        span.book-award Winner of the 2018 Philip K. Dick <br/> special citation award
        span.book-description After the Flare is a futuristic thriller published by Unnamed Press.
        span.quote-body "The entire novel is spectacularly imagined, well-written, and a pleasure to read. An absorbing novel that explores a compelling, African-centered future world."
        span.quote-author —Kirkus Reviews
        .available-from-container
          span.available-from Available for purchase from
          a(href="https://www.indiebound.org/book/9781944700188" target="_blank") Your local Indie Book store
          a(href="https://www.amazon.com/After-Flare-Nigerians-Space-Olukotun/dp/1944700188/ref=sr_1_1?s=books&ie=UTF8&qid=1483902091&sr=1-1&keywords=%22after+the+flare%22+olukotun" target="_blank") Amazon
    .homepage-book
      .book-container-right
        span.book-title Nigerians in Space
        img.book-cover(src="/images/nigerians_in_space 800.jpg")
      .book-container-left
        span.book-description  Nigerians in Space is an international crime thriller about brain drain that is set in South Africa, Nigeria, and the U.S. <br/> <br/> Published by Unnamed Press,
        span.quote-body “An exquisite blend of unpredictable twists and lightening-speed plot.”
        span.quote-author The Guardian
        .available-from-container
          span.available-from Available for purchase from
          a(href="https://www.unnamedpress.com/books/book/2" target="_blank") The publisher
          a(href="https://www.indiebound.org/book/9781939419019" target="_blank") Your local Indie Book store
          a(href="https://www.amazon.com/dp/B00PSSGYL8/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank") Amazon
    .collections 
      h2.section-headline.h2.blue Collections
      p Deji is proud to have his work included in the following collections.
      hr 
      .collection-item-grid
        +collection(
            "The Best American Science Fiction and Fantasy 2020",
            "/images/best-american.jpg",
            "https://www.amazon.com/Best-American-Science-Fiction-Fantasy/dp/1328613100"
          )
        +collection(
            "Welcome to Dystopia: 45 Visions of What Lies Ahead",
            "/images/dystopia.jpg",
            "https://www.amazon.com/Welcome-Dystopia-Visions-What-Ahead/dp/1949017060"
          )
        +collection(
            "Future Tense Fiction: Stories of Tomorrow",
            "/images/Future-Tense-Fiction-Book-Cover.jpg",
            "https://www.amazon.com/Future-Tense-Fiction-Stories-Tomorrow/dp/1944700951"
          )
        +collection(
            "Invaders: 22 Tales from the Outer Limits of Literature",
            "/images/Invadersnewwebsite-800x1200.jpg",
            "https://www.amazon.com/Invaders-Tales-Outer-Limits-Literature/dp/1616962100"
          )
        +collection(
            "Visions, Ventures, Escape Velocities: A Collection of Space Futures",
            "/images/Space Futures_Smaller.jpg",
            "https://csi.asu.edu/books/vvev/"
          )
        +collection(
            "Watchlist: 32 Stories by Persons of Interest",
            "/images/watchlist2.jpg",
            "https://www.amazon.com/Watchlist-32-Stories-Persons-Interest/dp/1936787415"
          )
  #features.section.section4.featured-in
    .featured-content
      h2.section-headline.h2.blue Deji and his work have been featured in
      .logo-grid
        span NPR
        span Washington Post
        span Slate
        span Kirkus Reviews
        span The Guardian
        span LA times 
      p.and-more and more 
    .bg-image
