extends ../template.pug

block content
  //- include ../modules/loading.pug

  .fries.menu-hide
    .menu-on-small
      include ../modules/menu.pug

  .sticky-header
    #navigation.burger-and-fries-container
      a(href="/" class="logo-in-navigation relative")
        img(
          class="logo-in-navigation-img white-logo" 
          src="/images/triplelift-logo.svg"
        )
        img(
          class="orange-logo" 
          src="/images/logo-orange.svg"
        )
      .burger-and-fries
        <button class="hamburger hamburger--collapse js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
        .menu-on-large
          include ../modules/menu.pug

  .gradient-transition-container
    .gradient-transition.gradient1
    .gradient-transition.gradient2
    .gradient-transition.white
  include ../modules/homepage-hero.pug
    