extends ../template.pug

block content
  .fries.menu-hide
    .flex.flex-col.justify-center.items-center.h-full
      include ../modules/menu.pug
  #navigation.burger-and-fries-container
      a(href="/" class="logo-in-navigation")
        img(
          class="logo-in-navigation-img" 
          src="/images/triplelift-logo.svg"
        )
      .burger-and-fries
        <button class="hamburger hamburger--collapse js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
      .menu-on-large
        include ../modules/menu.pug
  .carousel
    span Logo
    span burger
    p image
    p watch show reel
    p arrow one
    p arrow two
    p Reinventing ad placement, one medium at a time
    p Since pioneering Native advertising in 2012, we have built 4 product lines across 13 different formats, each with elements of customization not found anywhere else in the industry.
  .frames-from-figma
    img(src="/images/Frame 38.png")
    img(src="/images/Frame 9.png")
    img(src="/images/Frame 39.png")
    img(src="/images/Frame 13.png")
    
    