extends ../template.pug

include ../mixins/update.pug

block content
  //- include ../modules/loading.pug

  .fries.menu-hide
    .menu-on-small
      include ../modules/menu.pug

  .sticky-header
    #navigation.burger-and-fries-container
      a(href="/" class="logo-in-navigation relative")
        span Return of the Deji
      .burger-and-fries
        <button class="hamburger hamburger--squeeze js-hamburger" type="button">
          <div class="hamburger-bg"></div>
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
        .menu-on-large
          include ../modules/menu.pug
  .section-transition-container
    .section-transition.bgimage
      .color-overlay.green
    .section-transition.green
  include ../modules/homepage-hero.pug
  .section.section2.the-latest
    h2.section-headline.h2.blue The Latest
    .the-latest-updates-container
      .update-container
        +update(
          "News",
          "",
          "PANEL AT THE NEBULA AWARDS ON MAY 31",
          "I’ll be speaking at the 2020 Nebula Awards with a panel of great authors.",
          "Read more"
        )(class="update-news" href="news.html")
        a.cta 
          span More news
          img(src="/images/arrow-right.svg")
      .update-container
        +update(
          "Short Fiction",
          "",
          "We Are the Olfanauts",
          "This near-future scifi story is about a young Kenyan man who is trying to make at the hottest new tech company, which specializes in scented social media.",
          "Read more"
        )(class="update-short-fiction" href="short-fiction.html")    
        a.cta 
          span More short fiction
          img(src="/images/arrow-right.svg")
      .update-container
        +update(
          "Article",
          "",
          "Moving Towards Science Fiction Thinking",
          "Tor.com: Lessons from my work fighting for human rights online and how we can empower people by using the tools of science fiction, such as world building.",
          "Read more"
        )(class="update-article" href="article.html")    
        a.cta 
          span More articles
          img(src="/images/arrow-right.svg")
      .update-container
        +update(
          "Interview",
          "",
          "Yale News 2017",
          "On fiction, Nigerians in Space, and After the Flare",
          "Read more"
        )(class="update-interview" href="interview.html")
        a.cta 
          span More interviews
          img(src="/images/arrow-right.svg")
  .section.section3.books
    h2.section-headline.h2.blue Latest Book
    .homepage-book
      .book-container-right
        span.book-title After The Flare
        img.book-cover(src="/images/300_Olukotun_AftertheFlare_Cover.jpeg")
        span.book-award Winner of the 2018 Philip K. Dick <br/> special citation award
      .book-container-left
        span.book-description After the Flare is a futuristic thriller published by Unnamed Press.
        span.quote-body "The entire novel is spectacularly imagined, well-written, and a pleasure to read. An absorbing novel that explores a compelling, African-centered future world."
        span.quote-author —Kirkus Reviews
        .available-from-container
          span.available-from Available for purchase from
          a(href="local-indie") Your local Indie Book store
          a(href="amazon") Amazon
    a.cta 
      span More books
      img(src="/images/arrow-right-black.svg")
  .section.section4.featured-in
    h2.section-headline.h2.blue Deji and his work have been featured in
    .logo-grid
      img(src="https://returnofthedeji.com/revamp/wp-content/uploads/2015/05/LogoMaster-page001.jpeg")
  .section.section5.get-connected
    h2.section-headline.h2.blue Connect with Deji
    .social-media-grid
      a(href="twitter.com")
        img(src="/images/linkedin.svg")
      a(href="twitter.com")
        img(src="/images/twitter.svg")
      a(href="twitter.com")
        img(src="/images/tumblr.svg")        

