extends ../template.pug

block content
  .loading
    img(src="/images/Logomark - White.svg")
  .fries.menu-hide
    .flex.flex-col.justify-center.items-center.h-full
      include ../modules/menu.pug
  .sticky-header
    #navigation.burger-and-fries-container
        a(href="/" class="logo-in-navigation relative")
          img(
            class="logo-in-navigation-img white-logo" 
            src="/images/triplelift-logo.svg"
          )
          img(
            class="orange-logo" 
            src="/images/logo-orange.svg"
          )
        .burger-and-fries
          <button class="hamburger hamburger--collapse js-hamburger" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button> 
        .menu-on-large
          include ../modules/menu.pug
  include ../modules/homepage-hero.pug
  .frames-from-figma
    img(src="/images/Frame 38.png" )
    img(src="/images/Frame 9.png" )
    img(src="/images/Frame 39.png" )
    img(src="/images/Frame 13.png" )
    
    