extends ../template.pug

include ../mixins/update.pug

block content
  //- include ../modules/loading.pug

  .fries.menu-hide
    .menu-on-small
      include ../modules/menu.pug

  .sticky-header
    #navigation.burger-and-fries-container
      a(href="/" class="logo-in-navigation relative")
        span Return of the Deji
      .burger-and-fries
        <button class="hamburger hamburger--squeeze js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
        .menu-on-large
          include ../modules/menu.pug
  .section-transition-container
    .section-transition.section1
  include ../modules/homepage-hero.pug
  .update-container
    +update(
      "News",
      "February 5, 2021",
      "Listen to When We Were Patched at Escape Pod",
      "I'm honored to have my short story When We Were Patched available on audio over at Esacpe Pod."
    )(class="update-news")