extends ../template.pug

include ../mixins/update.pug

block content
  include ../components/main-navigation.pug
  .section-transition-container
    .section-transition.bgimage
      .color-overlay
    .gradient
  include ../modules/homepage-hero.pug
  .homepage-section-container
    #bio.section.section2.bio
      h2.section-headline.h2.blue Biography
      p DEJI BRYCE OLUKOTUN is the author of two novels and his fiction has appeared in five different book collections. 
      p His novel After the Flare won the 2018 Philip K. Dick special citation, and was chosen as one of the best books of 2017 by The Guardian, The Washington Post, Syfy.com, Tor.com, Kirkus Reviews, among others. 
      p His short story Between the Dark and the Dark, published in Lightspeed, was selected by editor Diana Gabaldon for Best American Science Fiction and Fantasy 2020 (Houghton Mifflin Harcourt). 
      p He currently works for the audio technology company Sonos and he is a Future Tense Fellow at New America.
  #books.section.section3.books
    .homepage-book
      .book-container-right
        h2.section-headline.h2.blue Latest Book
        span.book-title After The Flare
        img.book-cover(src="/images/300_Olukotun_AftertheFlare_Cover.jpeg")
        span.book-award Winner of the 2018 Philip K. Dick <br/> special citation award
      .book-container-left
        span.book-description After the Flare is a futuristic thriller published by Unnamed Press.
        span.quote-body "The entire novel is spectacularly imagined, well-written, and a pleasure to read. An absorbing novel that explores a compelling, African-centered future world."
        span.quote-author —Kirkus Reviews
        .available-from-container
          span.available-from Available for purchase from
          a(href="https://www.indiebound.org/book/9781944700188" target="_blank") Your local Indie Book store
          a(href="https://www.amazon.com/After-Flare-Nigerians-Space-Olukotun/dp/1944700188/ref=sr_1_1?s=books&ie=UTF8&qid=1483902091&sr=1-1&keywords=%22after+the+flare%22+olukotun" target="_blank") Amazon
  #features🗣.section.section4.featured-in
    .featured-content
      h2.section-headline.h2.blue Deji and his work have been featured in
      .logo-grid
        img(src="https://returnofthedeji.com/revamp/wp-content/uploads/2015/05/LogoMaster-page001.jpeg")
    .bg-image
