extends ../template.pug

include ../mixins/update.pug

block content
  include ../components/main-navigation.pug
  .section-transition-container
    .section-transition.green
.section.news-container
  h1 Panel at the Nebula Awards on May 31
  span.date May 27, 2020
  h4 video goes here
  p I’ll be speaking at the 2020 Nebula Awards with a panel of great authors. The Nebulas are a preeminent science fiction event focused on literature — unlike many comicons, which gravitate towards film and television. The panel topic is “Who and What I am”, which will explore challenging questions around identity and place in science fiction.
  p Like many of you, I would have preferred to be at the event in person, but the coronavirus pandemic calls for creative — and safe solutions. The Nebulas responded to the outbreak by offering to refund all attendees and then vastly reduced its programming. I’m looking forward to joining in this experiment with my fellow panelists on Sunday, May 31.
  a Click here for panel details
  
