extends ../template.pug

include ../mixins/update.pug

block content
  include ../components/main-navigation.pug
  .section.inner-page-section-container
    .exploration-post.mt4
        span.update-type.update-event Current Exploration
        h1.mt3.white Confronting displaced populations in the 21st century  
        p.white I'm working with the Innovation Service at the UN High Commissioner for Refugees on imagining a better future for refugees. 
        p.white We're meeting with migration experts to better understand the challenges confronting displaced populations in the 21st century.
        p.white In collaboration with the Center for Science and the Imagination at Arizona State and the National Renewable Energy Laboratory, I worked with scientists, policy makers, and artists to envision better energy futures. Our short story will be featured in the coming volume Cities of Light.
        a.mt3.cta Read more about UNHCR
        a(href="current-explorations.html").db.mt4.blue More Current Explorations
