.not-home,
html:not([data-scroll="0"]) {
  .burger-and-fries-container {
    background: white;

    .logo-in-navigation .white-logo {
      opacity: 0;
    }

    .logo-in-navigation .orange-logo {
      opacity: 1;
    }

    .menu-on-large a {
      color: black;
      &:hover {
        border-bottom-color: black;
      }
    }

    .login {
      border: 1px solid black;
    }
  }
}

.sticky-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  z-index: 200;
}

.burger-and-fries-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 71px;
  padding: 18px 18px;
  transition: 0.6s ease-in;
  width: 100%;
  z-index: 200;
  position: fixed;

  @media (min-width: 1024px) {
    height: 78px;
  }

  .logo-in-navigation * {
    transition: 0.6s ease-out;
  }

  .logo-in-navigation .orange-logo {
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
  }

  .burger-and-fries {
    display: flex;
    align-items: center;
  }

  .burger {
    display: block;
    position: relative;
    width: 28px;
    line-height: 0;
    margin-left: 12px;
    z-index: 101;

    span:nth-child(2) {
      transform: translateX(100vw);
    }

    &.active {
      span:nth-child(1) {
        transform: translateX(100vw);
      }
      span:nth-child(2) {
        transform: translateX(0);
      }
    }
  }
}

body.modal-open {
  overflow-y: hidden;
}

html:not([data-scroll="0"]) .not-home body.menu-open,
html:not([data-scroll="0"]) body.menu-open,
body.menu-open {
  overflow-y: hidden;
}

.menu-hide {
  background: #cdcdcd;
  height: 100vh;
  opacity: 0;
  right: -100%;
  position: fixed;
  top: 0px;
  z-index: 50;
  width: 100%;
  transition: 0.3s ease-in;
}

.menu-hide.show {
  opacity: 1;
  right: 0;
}

.menu-on-small {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  > .main-nav {
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      text-align: center;
      padding: 24px 18px;
      font-size: 24px;
    }
  }

  .login {
    width: fit-content;
    display: block;
    margin: 24px auto 0;
    font-size: 24px;
    padding: 24px 64px;
  }
}

.menu-on-large {
  display: flex;
  align-items: center;
}

.main-nav a {
  color: black;
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: 400;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s ease-out;
}

.menu-on-large .main-nav a {
  border-bottom: 4px solid transparent;

  &:hover {
    border-bottom: 4px solid black;
  }
}

.login {
  border: 1px solid #fff;
  border-radius: 26px;
  color: #fff;
  margin-left: 36px;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.6s ease-out;
}

@media (max-width: 1023px) {
  .menu-on-large {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .burger-and-fries-container {
    padding: 0 2vw;
  }
}

@media (min-width: 1440px) {
  .burger-and-fries-container {
    padding: 0 12vw;
  }
}
