.not-home,
html:not([data-scroll="0"]) {
  .burger-and-fries-container {
    background: white;

    .logo-in-navigation .white-logo {
      opacity: 0;
    }

    .logo-in-navigation .orange-logo {
      opacity: 1;
    }

    .menu-on-large a {
      color: $amplifiedOrange;
      &:hover {
        border-bottom-color: $amplifiedOrange;
      }
    }

    .login {
      border: 1px solid $amplifiedOrange;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $amplifiedOrange;
    }
  }
}

.sticky-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  z-index: 200;
}

.burger-and-fries-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 71px;
  padding: 18px 18px;
  transition: 0.6s ease-in;
  width: 100%;
  z-index: 200;
  position: fixed;

  .logo-in-navigation * {
    transition: 0.6s ease-out;
  }

  .logo-in-navigation .orange-logo {
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    height: 3px;
  }

  .burger-and-fries {
    display: flex;
    align-items: center;
  }

  .rsvp {
    border: 1px solid black;
    color: black;
    padding: 4px 20px;
    border-radius: 4px;
    text-decoration: none;

    span {
      display: block;
      padding-top: 6px;
    }
  }

  .burger {
    display: block;
    position: relative;
    width: 28px;
    line-height: 0;
    margin-left: 12px;
    z-index: 101;

    span:nth-child(2) {
      transform: translateX(100vw);
    }

    &.active {
      span:nth-child(1) {
        transform: translateX(100vw);
      }
      span:nth-child(2) {
        transform: translateX(0);
      }
    }
  }
}

body.modal-open {
  overflow-y: hidden;
}

html:not([data-scroll="0"]) .not-home body.menu-open,
html:not([data-scroll="0"]) body.menu-open,
body.menu-open {
  overflow-y: hidden;
}

.menu-hide {
  background: $gradientDark1;
  height: 100vh;
  opacity: 0;
  right: -100%;
  position: fixed;
  top: 0px;
  z-index: 50;
  width: 100%;
  transition: 0.3s ease-in;
}

.menu-hide.show {
  opacity: 1;
  right: 0;
}

.menu-on-small {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  > .main-nav {
    display: flex;
    flex-direction: column;
  }

  .login {
    width: fit-content;
    margin-left: 24px;
    margin-top: 44px;
    display: inline-block;
  }
}

.menu-on-large {
  display: flex;
  align-items: center;
}

.main-nav a {
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: 400;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s ease-out;
}

.menu-on-large .main-nav a {
  border-bottom: 4px solid transparent;

  &:hover {
    border-bottom: 4px solid white;
  }
}

.login {
  border: 1px solid #fff;
  border-radius: 26px;
  color: #fff;
  margin-left: 36px;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.6s ease-out;
}

.hamburger-box {
  height: 24px;
  width: 28px;
}

.burger-and-fries-container .hamburger-inner,
.burger-and-fries-container .hamburger-inner::before,
.burger-and-fries-container .hamburger-inner::after {
  height: 2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 28px;
  background-color: #fff;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

@media (max-width: 1023px) {
  .menu-on-large {
    display: none;
  }
}

@media (min-width: 1024px) {
  .burger-and-fries-container {
    padding: 0 2vw;

    .hamburger {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .burger-and-fries-container {
    padding: 0 12vw;
  }
}
