.divinitree-is {
    background: #faf9f2;
    position: relative;

    .content {
        padding: 24px;
    }

    .overlay {
        background: #f5bb95;
        height: 100%;
        opacity: .5;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

}