.section.featured-in {
  background: $green;
  padding-top: 36px;
  padding-bottom: 36px;

  h2 {
    font-weight: bold;
    line-height: 1.4;
    font-size: 24px;
    @media (min-width: 1024px) {
      font-size: 48px;
    }
  }

  img {
    padding-top: 24px;
    display: block;
    margin: 0 auto;
  }
}

.bg-image {
  display: none;
}

@media (min-width: 1024px) {
  .section.featured-in{
    position: relative;
    
    .featured-content {
      width: 50%;
      padding: 24px 32px 64px;
    } 
    
    .bg-image {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: gray;
      width: 50%;
      height: 100%;
      background-image: url("/images/sonos-sia-uap-00825-scaled.jpg");
      background-position: 60% center;
      background-size: cover;
    }

  }
}
