.gradient-transition-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;

  > * {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.gradient-transition.gradient1 {
  background: $primaryGradient;
}

.gradient-transition.gradient2 {
  background: $secondaryGradient1;
  opacity: 0;
}

.gradient-transition.white {
  background: white;
  opacity: 0;
}
