.homepage-hero {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;

    iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    h1, h2 {
        margin: 0;
    }

    h1 {
        letter-spacing: 5px;
        font-size: 36px;
        margin-top: 24px;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 36px;
    }

    img.wordmark,
    img.logo {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(328deg) brightness(104%) contrast(101%);
    }

    img.logo {
        max-width: 200px;
    }

    img.wordmark {
        margin: 24px;
        max-width: 280px;
    }

    .background {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bg-image-1 {
        min-height: 100%;
        position: absolute;
        left: 0;
        object-fit: cover;
        object-position: 72%;
        top: 0;
    }

    .overlay {
        background: #771a07;
        height: 100%;
        opacity: .5;
        width: 100%;
        z-index: 2;
    }

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;;
        margin-top: -10vh;
        z-index: 3;
    }

    .content > * {
        text-shadow: 0px 0px 5px #000;
    }

}

@media (min-width: 1280px){ 
    .homepage-hero .bg-image-1 {
        width: 100%;
    }
}

.homepage-hero .bg-image-1 {
    bottom: 0;
    top: inherit;
}

@media (min-width: 1024px){ 
    .homepage-hero .bg-image-1 {
        bottom: inherit;
    }
}