.homepage-hero {
  color: white;
  padding-top: 80px;
  min-height: 100vh;
  z-index: 1;

  .cta {
    display: block;
    margin: 24px auto 0;
    width: 203px;
    @media (min-width: 1024px) {
      margin-top: 48px;
    }
  }

  .slider-static {
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
  }

  .copy {
    padding: 24px;

    h1 {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.3;
    }

    p {
      font-size: 20px;
    }
  }

  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    padding: 0 16px;
    z-index: 1;

    @media (min-width: 1024px) {
      padding: 0 4vw;
      top: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .homepage-hero {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .slide-content-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .slide-1 {
      width: 40%;
    }

    .copy {
      width: 50%;
    }
  }

  .homepage-hero .copy {
    h1 {
      font-size: 3vw;
    }
  }
}
