.homepage-hero {
  color: black;
  padding-top: 80px;
  min-height: 100vh;
  z-index: 1;

  .copy {
    padding: 0 24px;
    h1 {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.3;
    }

    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .homepage-hero {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .slide-content-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
