.homepage-hero {
  background: black;
  background: linear-gradient(77.24deg, #f47b20 14.56%, #f15c2c 88.29%);
  color: white;
  padding-top: 100px;
  min-height: 100vh;

  .cta {
    display: block;
    margin: 24px auto 0;
    width: 203px;
  }

  .slider-static {
    justify-content: space-between;
    padding: 0 8px;
    width: 100%;
  }

  .copy {
    padding: 24px;
  }
}
