.loading {
  background: linear-gradient(77.24deg, #f47b20 14.56%, #f15c2c 88.29%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 300;
  display: flex;
  align-items: center;

  img {
    display: block;
    margin: -20vw auto 0;
    width: 100px;
  }

  &.not-loading {
    z-index: -100;
  }
}
