.news-update {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 24px;

  .update-type {
    background: white;
    color: black;
    width: fit-content;
    text-transform: uppercase;
    padding: 6px 8px 4px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
  }
}
