.section.newsletter-container {
  padding-top: 48px;
  padding-bottom: 48px;
  background: $blue;
  h2 {
    color: $green;
    font-weight: bold;
    margin-bottom: 24px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.2;
  }
  .input-container {
    margin-top: 0px;
  }
}
