.phone-breakout {
  position: relative;
  height: 40vh;
  width: 100%;

  img {
    top: 0;
    width: 80%;
    position: absolute;
    left: 55%; /* position the left edge of the element at the middle of the parent */
    top: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
  }
}
