.phone-breakout {
  position: relative;
  height: 40vh;
  width: 100%;

  img {
    top: 0;
    width: 80%;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
