.schedule {
    background: #f2f1f1;
    padding-bottom: 36px;
    
    .content {
        padding: 24px;
    }

    .overlay {
        background: #ffd373;
        height: 100%;
        opacity: .4;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

}