.section-transition-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;

  > * {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.section-transition.bgimage {
  // background-image: url("/images/streegar-bORAYzcoJ8A-unsplash.jpg");
  // background-image: url("/images/alex-perri-At__EKm5PGE-unsplash.jpg");
  // background-image: url("/images/philip-martin-5aGUyCW_PJw-unsplash.jpg");
  background-image: url("/images/sonos-sia-uap-00825-scaled.jpg");
  background-size: 460%;
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-width: 1024px) {
    background-size: 200%;
    background-position: 40% top;
  }
}

.section-transition.dark {
  opacity: 0;
  background: $dark;
}

.section-transition.green {
  opacity: 0;
  background: $green;
}
