.the-latest {
  h2 {
    margin-top: 32px;
  }
  .the-latest-updates-container {
    .update-container {
      padding: 0;
      &:not(:first-of-type) {
        margin-top: 64px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .the-latest {
    padding: 64px;
    .the-latest-updates-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 100px;
      justify-items: start;
      align-items: start;

      .update-container {
        &:not(:first-of-type) {
          margin-top: inherit;
        }
      }
    }
  }
}
