.we-work-with {
    padding-bottom: 24vw;
    
    h3 {
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
    }

    h4 {
        font-size: 6vw;
        font-weight: 500;
    }

    p {
        margin-top: 16px;
    }

    .we-work-with-section-container {
        color: white;
        margin: 8vw 12px 12px;
        background: $primaryGradient;
        border-radius: 24px;
        padding: 30px 24px 36px;
    }

    .logo-grid {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 36px;
        row-gap: 36px;
        .work-with-logo {
            width: 60px;
        }
    }
}