.we-work-with {
    padding-bottom: 24vw;
    
    h3 {
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
    }

    h4 {
        font-size: 6vw;
        font-weight: 500;
    }

    p {
        margin-top: 16px;
    }

    .we-work-with-section-container {
        color: white;
        margin: 8vw 12px 12px;
        background: $primaryGradient;
        border-radius: 24px;
        padding: 30px 24px 36px;
    }

    .logo-grid {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 36px;
        row-gap: 36px;
        .work-with-logo {
            width: 60px;
        }
    }
}

@media (min-width: 1024px) { 
    .we-work-with {
        h3 {
            font-size: 6vw;
        }

        h4 {
            font-size: 3vw;
        }

        > .container {
            display: grid;
            margin: 0 auto;
            max-width: 90vw;
            grid-template-columns: 1fr 1fr;
            column-gap: 3vw;
            margin-top: 4vw;
        }

        .we-work-with-section-container {
            margin-bottom: -4vw;
        }

        .we-work-with-section-container:nth-child(1) {
            margin-bottom: 4vw;
        }

        .we-work-with-section-container:nth-child(1) {
            margin-top: 4vw;
        }

        .we-work-with-section-container:nth-child(3) {
            margin-bottom: 8vw;
            margin-top: 4vw;
        }

        .we-work-with-section-container:nth-child(4) {
            margin-top: 9vw;
        }


    }
}